.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--badge-radius);
    padding: 8px 12px;
}
.default {
    background-color: var(--color-card-default);
    color: var(--color-text);
}
.primary {
    background-color: var(--color-primary);
    color: var(--color-text-contrast);
}
.accent {
    background-color: var(--color-accent);
    color: var(--color-text-contrast);
}
.outlined{
    border: 1px solid var(--color-text)
}
