.block {
    background-color:var(--color-card-default);
    border-radius: var(--card-radius);
    padding: var(--padding-lg);
}

.contrast {
    color: var(--color-card-default);;
    background-color: var(--color-card-contrast);
}

.transparent {
    background-color: transparent;
    padding: 0;
}
